APPWRITE_URL = ""
APPWRITE_PROJECT_ID = ""
APPWRITE_DATABASE_ID = ""
APPWRITE_BLOGS_COLLECTION_ID = ""
APPWRITE_AUTHORS_COLLECTION_ID = ""
APPWRITE_COMMENTS_COLLECTION_ID = ""
APPWRITE_CATEGORIES_COLLECTION_ID = ""