@font-face {
    font-family: 'Clash Display';
    src: url(assets/fonts/ClashDisplay/ClashDisplay-Variable.ttf);
}

@font-face {
    font-family: 'Archivo';
    src: url(assets/fonts/Archivo/Archivo-Variable.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #121212;
    color: #e1e1e1;
    font-family: 'Archivo';
    font-size: 1rem;
}

:root {
    --bg-color01: #121212;
    --bg-color02: #1e1e1e;
    --text-color01: #e1e1e1;
    --text-color02: #a1a1a1;
    --bg-button: #c38fff;
    --bg-button-hover: #a75bff;
    --text-button: #000;
    --stroke-color: #636363;
    --error-color: #ff5f5f;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Clash Display';
    font-weight: 500;
    letter-spacing: 1px;
}

.stroke {
    border-radius: 10px;
    border: 1px solid var(--stroke-color);
}

a {
    text-decoration: none;
    color: inherit;

}

.page-title {
    text-align: center;
    padding: 48px 0;
    margin: 24px 0;
    width: 100%;
    background-color: var(--bg-color02);
}

.page-title h2 {
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.page-title p {
    color: var(--text-color02);
}
.main-container {
    width: 100%;
    max-width: 1240px;
    padding: 0 0;
}

.button-primary {
    background-color: var(--bg-button);
    padding: 5px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    color: #000;
    cursor: pointer;
    transition: background 0.3s;
}

.button-secondary {
    border: 1px solid #636363;
    color: var(--text-color02);
    padding: 5px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    cursor: pointer;
    transition: color 0.3s;
}

.button-primary:hover {
    background-color: var(--bg-button-hover);
}

.button-secondary:hover {
    color: var(--text-color01);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

form p.bottom {
    color: var(--text-color02);
    
}

form p.bottom a{
    text-decoration: underline;
    transition: color 0.3s;
}

form p.bottom a:hover{
    color: var(--bg-button-hover);
}